.about-card{
    background-color: var(--orange-background);
    color: var(--text-color);
    z-index: 0;

}

.about-card:hover{
    background-color: var(--orange-background);
    color: var(--darkest-text-color);
}