.about-card{
    background-color: var(--orange-background);
    color: var(--text-color);
}

.about-card:hover{
    background-color: var(--orange-background);
    color: var(--darkest-text-color);
}