/* SignUpPage.css */



.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.signup-form {
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  max-width: 90%;
}

.signup-form h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 14px;
  color: #555;
  text-align: left;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

.signup-right{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #00608e, #3498db);
}

button.submit-button {
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: linear-gradient(to right, #023750, #0489e2);
  border: 1px #96caec solid;
  margin-bottom: 1rem;
}

button:hover {
  background-color: linear-gradient(to right, #35e8b2, #34dbca);
}

/* .signup-left{
  height: 100%;
  background: linear-gradient(to right, #4b6cb7, #182848);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/My image.jpeg");
  background-repeat: no-repeat;
  background-size: 40rem;
  background-position: center;
} */


