/* SignUpPage.css */



.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  background: linear-gradient(to right, #ffffff, #f0f0f0);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  max-width: 90%;
}

.signup-form h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 14px;
  color: #555;
  text-align: left;
}

input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

button {
  background: linear-gradient(to right, #3498db, #007bb5);
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #00608e, #3498db);
}

.signup-left{
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #4b6cb7, #182848);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-right{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
