body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#three-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

h1 {
  text-align: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
