:root{
    --lighter-orange-background: #DEDACE;
    --orange-background: #F06552;
    --dark-orange-background: #E64C3C;
    --text-color: #FAFEFD;
    --dark-text-color: #2D3142;
    --darker-text-color: #222831;
    --darkest-text-color: #1E1E24;
    --light-text-color: #E5E5E5;
    --lighter-text-color: #F4F1DE;
    --lightest-text-color: #F9F7F7;
    --lightest-gray: #F5F5F5;
    --light-gray: #E5E5E5;
    --gray: #BDBDBD;
    --dark-gray: #828282;
    --darker-gray: #4F4F4F;
    --darkest-gray: #333333;
    --lightest-blue: #E0F2FE;
    --light-blue: #B2EBF2;
    --blue: #03A9F4;
    --primary-color: #000000;
  }

.button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    transition: all 0.3s ease-in-out;
    border: 2px solid;
    color: #fff;
}

.button:hover{
    opacity: 0.8;
}

.primary{
    background-color: var(--dark-orange-background);
    border: none;
}

.secondary{
    background-color: #676161;
    border-color: #676161;
}

.success{
    background-color: #105c10;
    border-color: #105c10;
}

.danger{
    background-color: #ff0000;
    border-color: #ff0000;
}

.warning{
    background-color: #ff8c00;
    border-color: #ff8c00;
}

.info{
    background-color: #1e90ff;
    border-color: #1e90ff;
}

.light{
    background-color: #f8f9fa;
    color: #000;
    border-color: #f8f9fa;
}

.dark{
    background-color: #343a40;
}

.disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

.none{
    background-color: transparent;
    color: #676161;
    border: 2px solid #676161;

}

.small{
    padding: 5px 10px;
    font-size: 0.8rem;
}

.medium{
    padding: 10px 20px;
    font-size: 1rem;
}

.large{
    padding: 15px 30px;
    font-size: 1.2rem;
}

.button{
    width: var(--custom-width, auto);
}